<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me via my email:
  <a href="mailto:danpierce_1@live.com?Subject=Student%20Feedback" target="_top">
danpierce_1@live.com</a> or <a href="mailto:20045260@mail.wit.ie?Subject=Student%20Feedback" target="_top">
20045260@mail.wit.ie</a>
</p>