<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Admins log in via<strong>Email: </strong> example@test.com <strong>password: </strong> foobar

  <br> regular users log in via <strong>Email: </strong> example-1@test.com <strong>password: </strong> password
  <br> admins can view all records and delete users posts<br>
  regular users can edit their own records and delete their own feedback. They can post feedback about a specific module and register on a course at register or change courses in the edit window.<br>
  This project has been deployed on Heroku at this address :<strong><a href="https://whispering-shelf-4073.herokuapp.com/home">https://whispering-shelf-4073.herokuapp.com/home</a></strong>
</p>