<footer class="footer">
  <small>
   Student Feedback
    by Dan Pierce 20045260
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>